.app__container{
    display: flex;
    flex-direction: column;
    flex-grow: 0.7;

}

.leaflet-container{
    background-color: rgb(127, 229, 255);
    /* border-radius: 10px; */
}

/* --MapContent CSS */
.leaflet-popup-content{
    width: 150px!important;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaflet-popup-content img{
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.leaflet-popup-content p{
    align-self: flex-start;
    margin: 0;
    font-size: 15px;

}


