.mapheader{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.mapheader__cardsGroup{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mapheader__titleAndSwitch{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

