.mapheader{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mapheader__cardsGroup{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.globe__btn{
    font-size: 50px!important;
    padding: 5px!important;
    background-color: rgb(116, 198, 252)!important;
    border-radius: 50px!important;
    width: 100px!important;
} 