.mapheader{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.mapheader__cardsGroup{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mapheader__titleAndSwitch{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 768px){
    .mapheader{
        padding: 0 20px;
    }
}

@media only screen and (max-width: 375px){
    .mapheader__titleAndSwitch h1{
        font-size: 15px;
    }

    .mapheader__titleAndSwitch{
        margin-top: 10px;
    }
}