.switchUsBtn{
    border: 1px solid lightgray;
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
}

@media only screen and (max-width: 375px){
    .switchUsBtn {
        padding: 0;
        background-color: transparent;
        border: none;
    }
}