.app__table{
    flex: 0.3;
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.app__listRegion{
    flex: 0.7;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.app__charts{
    flex: 0.3;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


